# Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.compose import ColumnTransformer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, InputLayer
from sklearn.metrics import classification_report
from tensorflow.keras.utils import to_categorical
import numpy as np

## Load and Inspect Data

In [2]:
data = pd.read_csv('heart_failure.csv')

In [3]:
# View data
data.head()

,Unnamed: 0,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,death_event
0,0,75.0,no,582,no,20,yes,265000.00,1.9,130,yes,no,4,1,yes
1,1,55.0,no,7861,no,38,no,263358.03,1.1,136,yes,no,6,1,yes
2,2,65.0,no,146,no,20,no,162000.00,1.3,129,yes,yes,7,1,yes
3,3,50.0,yes,111,no,20,no,210000.00,1.9,137,yes,no,7,1,yes
4,4,65.0,yes,160,yes,20,no,327000.00,2.7,116,no,no,8,1,yes

In [4]:
# inspect data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   age                       299 non-null    float64
 2   anaemia                   299 non-null    object
 3   creatinine_phosphokinase  299 non-null    int64
 4   diabetes                  299 non-null    object
 5   ejection_fraction         299 non-null    int64
 6   high_blood_pressure       299 non-null    object
 7   platelets                 299 non-null    float64
 8   serum_creatinine          299 non-null    float64
 9   serum_sodium              299 non-null    int64
 10  sex                       299 non-null    object
 11  smoking                   299 non-null    object
 12  time                      299 non-null    int64
 13  DEATH_EVENT               299 non-null    int64
 14  death_event               299 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 35.2+ KB

#### Distribution of death_event column

In [5]:
Counter(data['death_event'])

Counter({'yes': 96, 'no': 203})

#### Extract label

In [6]:
y = data['death_event']
y.head()

0    yes
1    yes
2    yes
3    yes
4    yes
Name: death_event, dtype: object

#### Extract features

In [7]:
x= data[['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']]
x.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,no,582,no,20,yes,265000.00,1.9,130,yes,no,4
1,55.0,no,7861,no,38,no,263358.03,1.1,136,yes,no,6
2,65.0,no,146,no,20,no,162000.00,1.3,129,yes,yes,7
3,50.0,yes,111,no,20,no,210000.00,1.9,137,yes,no,7
4,65.0,yes,160,yes,20,no,327000.00,2.7,116,no,no,8

In [8]:
# converting categorical features in 'x' to one-hot encoded vectors
x = pd.get_dummies(x)
x.head()

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia_no,anaemia_yes,diabetes_no,diabetes_yes,high_blood_pressure_no,high_blood_pressure_yes,sex_no,sex_yes,smoking_no,smoking_yes
0,75.0,582,20,265000.00,1.9,130,4,1,0,1,0,0,1,0,1,1,0
1,55.0,7861,38,263358.03,1.1,136,6,1,0,1,0,1,0,0,1,1,0
2,65.0,146,20,162000.00,1.3,129,7,1,0,1,0,1,0,0,1,0,1
3,50.0,111,20,210000.00,1.9,137,7,0,1,1,0,1,0,0,1,1,0
4,65.0,160,20,327000.00,2.7,116,8,0,1,0,1,1,0,1,0,1,0

## Splitting data into training and test sets

In [9]:
X_train,X_test,Y_train,Y_test= train_test_split(x,y, test_size=0.2, random_state=42)

#### Standardise the numerical columns

In [10]:
numerical_x = x.select_dtypes(include=['int64','float64'])
numerical_columns = numerical_x.columns
numerical_columns

Index(['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets',
       'serum_creatinine', 'serum_sodium', 'time'],
      dtype='object')

In [11]:
ct = ColumnTransformer([('numeric', StandardScaler(), numerical_columns)], remainder = 'passthrough')

features_train = ct.fit_transform(X_train)
features_test = ct.transform(X_test)

## Prepare labels for classification

In [12]:
le= LabelEncoder()

In [13]:
Y_train=le.fit_transform(Y_train.astype(str))

In [14]:
Y_test=le.transform(Y_test.astype(str))

In [15]:
# transform encoded training labels Y_train into a binary vector
Y_train= to_categorical(Y_train, dtype='int64')
# transform encoded training labels Y_test into a binary vector
Y_test = to_categorical(Y_test, dtype= 'int64')

# Design the model

In [16]:
model = Sequential()

In [17]:
# input layer
model.add(InputLayer(input_shape=(X_train.shape[1],)))
# hidden layer
model.add(Dense(12, activation = 'relu'))
# output layer
model.add(Dense(2, activation='softmax'))

In [18]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

## Train and Evaluate Model

In [19]:
model.fit(X_train,Y_train, epochs=100, batch_size=16,verbose=1)

Epoch 1/100
15/15 [==============================] - 0s 2ms/step - loss: 1460.6256 - accuracy: 0.5523
Epoch 2/100
15/15 [==============================] - 0s 1ms/step - loss: 465.5748 - accuracy: 0.5607
Epoch 3/100
15/15 [==============================] - 0s 1ms/step - loss: 85.5813 - accuracy: 0.6192
Epoch 4/100
15/15 [==============================] - 0s 1ms/step - loss: 28.0667 - accuracy: 0.6402
Epoch 5/100
15/15 [==============================] - 0s 1ms/step - loss: 62.4984 - accuracy: 0.6276
Epoch 6/100
15/15 [==============================] - 0s 925us/step - loss: 36.4406 - accuracy: 0.6192
Epoch 7/100
15/15 [==============================] - 0s 1ms/step - loss: 37.4132 - accuracy: 0.5983
Epoch 8/100
15/15 [==============================] - 0s 1ms/step - loss: 49.4621 - accuracy: 0.6151
Epoch 9/100
15/15 [==============================] - ETA: 0s - loss: 8.0731 - accuracy: 0.62 - 0s 1ms/step - loss: 17.1748 - accuracy: 0.6360
Epoch 10/100
15/15 [==============================] - 0s 1ms/step - loss: 57.6249 - accuracy: 0.6234
Epoch 11/100
15/15 [==============================] - ETA: 0s - loss: 26.9988 - accuracy: 0.500 - 0s 1ms/step - loss: 67.8786 - accuracy: 0.5690
Epoch 12/100
15/15 [==============================] - 0s 1ms/step - loss: 38.2550 - accuracy: 0.5900
Epoch 13/100
15/15 [==============================] - 0s 1ms/step - loss: 24.7329 - accuracy: 0.6611
Epoch 14/100
15/15 [==============================] - 0s 1ms/step - loss: 17.0385 - accuracy: 0.6695
Epoch 15/100
15/15 [==============================] - ETA: 0s - loss: 42.4700 - accuracy: 0.625 - 0s 1ms/step - loss: 20.2787 - accuracy: 0.6820
Epoch 16/100
15/15 [==============================] - 0s 1ms/step - loss: 59.8325 - accuracy: 0.5941
Epoch 17/100
15/15 [==============================] - 0s 1ms/step - loss: 29.5482 - accuracy: 0.6151
Epoch 18/100
15/15 [==============================] - 0s 1ms/step - loss: 24.2178 - accuracy: 0.6736
Epoch 19/100
15/15 [==============================] - 0s 2ms/step - loss: 16.8917 - accuracy: 0.6234
Epoch 20/100
15/15 [==============================] - 0s 1ms/step - loss: 21.3674 - accuracy: 0.6444
Epoch 21/100
15/15 [==============================] - 0s 1ms/step - loss: 45.1576 - accuracy: 0.6402
Epoch 22/100
15/15 [==============================] - 0s 1ms/step - loss: 65.2019 - accuracy: 0.6151
Epoch 23/100
15/15 [==============================] - 0s 1ms/step - loss: 69.8004 - accuracy: 0.6276
Epoch 24/100
15/15 [==============================] - 0s 3ms/step - loss: 25.8889 - accuracy: 0.6778
Epoch 25/100
15/15 [==============================] - 0s 1ms/step - loss: 57.3065 - accuracy: 0.6067
Epoch 26/100
15/15 [==============================] - 0s 1ms/step - loss: 121.2492 - accuracy: 0.5900
Epoch 27/100
15/15 [==============================] - 0s 1ms/step - loss: 99.0087 - accuracy: 0.6276
Epoch 28/100
15/15 [==============================] - 0s 1ms/step - loss: 62.7058 - accuracy: 0.6025
Epoch 29/100
15/15 [==============================] - 0s 1ms/step - loss: 65.1204 - accuracy: 0.5941
Epoch 30/100
15/15 [==============================] - 0s 1ms/step - loss: 72.1451 - accuracy: 0.6192
Epoch 31/100
15/15 [==============================] - 0s 1ms/step - loss: 14.7392 - accuracy: 0.6653
Epoch 32/100
15/15 [==============================] - 0s 926us/step - loss: 21.2936 - accuracy: 0.6318
Epoch 33/100
15/15 [==============================] - 0s 1ms/step - loss: 26.9586 - accuracy: 0.6695
Epoch 34/100
15/15 [==============================] - 0s 1ms/step - loss: 43.1365 - accuracy: 0.6234
Epoch 35/100
15/15 [==============================] - 0s 1ms/step - loss: 39.5476 - accuracy: 0.6569
Epoch 36/100
15/15 [==============================] - 0s 1ms/step - loss: 43.3031 - accuracy: 0.6025
Epoch 37/100
15/15 [==============================] - 0s 1ms/step - loss: 34.0064 - accuracy: 0.6234
Epoch 38/100
15/15 [==============================] - 0s 1ms/step - loss: 36.4788 - accuracy: 0.6402
Epoch 39/100
15/15 [==============================] - 0s 1ms/step - loss: 75.3046 - accuracy: 0.6151
Epoch 40/100
15/15 [==============================] - 0s 1ms/step - loss: 54.7391 - accuracy: 0.6360
Epoch 41/100
15/15 [==============================] - 0s 1ms/step - loss: 94.4572 - accuracy: 0.5774
Epoch 42/100
15/15 [==============================] - 0s 1ms/step - loss: 116.9382 - accuracy: 0.6025
Epoch 43/100
15/15 [==============================] - 0s 997us/step - loss: 83.2569 - accuracy: 0.5649
Epoch 44/100
15/15 [==============================] - 0s 999us/step - loss: 48.4076 - accuracy: 0.6276
Epoch 45/100
15/15 [==============================] - 0s 926us/step - loss: 22.9037 - accuracy: 0.6444
Epoch 46/100
15/15 [==============================] - 0s 926us/step - loss: 19.4927 - accuracy: 0.6820
Epoch 47/100
15/15 [==============================] - 0s 1000us/step - loss: 31.7558 - accuracy: 0.6778
Epoch 48/100
15/15 [==============================] - 0s 997us/step - loss: 109.1061 - accuracy: 0.6318
Epoch 49/100
15/15 [==============================] - 0s 997us/step - loss: 68.6003 - accuracy: 0.6067
Epoch 50/100
15/15 [==============================] - 0s 925us/step - loss: 20.3676 - accuracy: 0.6904
Epoch 51/100
15/15 [==============================] - ETA: 0s - loss: 13.5593 - accuracy: 0.625 - 0s 967us/step - loss: 33.1644 - accuracy: 0.6569
Epoch 52/100
15/15 [==============================] - 0s 999us/step - loss: 61.8533 - accuracy: 0.6151
Epoch 53/100
15/15 [==============================] - 0s 997us/step - loss: 17.5598 - accuracy: 0.7238
Epoch 54/100
15/15 [==============================] - 0s 1ms/step - loss: 12.6382 - accuracy: 0.7531
Epoch 55/100
15/15 [==============================] - 0s 999us/step - loss: 28.8963 - accuracy: 0.6611
Epoch 56/100
15/15 [==============================] - 0s 997us/step - loss: 38.1449 - accuracy: 0.6444
Epoch 57/100
15/15 [==============================] - 0s 997us/step - loss: 19.4863 - accuracy: 0.6862
Epoch 58/100
15/15 [==============================] - 0s 997us/step - loss: 29.0554 - accuracy: 0.6402
Epoch 59/100
15/15 [==============================] - 0s 997us/step - loss: 22.0310 - accuracy: 0.6862
Epoch 60/100
15/15 [==============================] - 0s 926us/step - loss: 19.5127 - accuracy: 0.6695
Epoch 61/100
15/15 [==============================] - 0s 997us/step - loss: 46.2869 - accuracy: 0.6485
Epoch 62/100
15/15 [==============================] - 0s 1ms/step - loss: 15.5499 - accuracy: 0.7448
Epoch 63/100
15/15 [==============================] - 0s 926us/step - loss: 14.7701 - accuracy: 0.7238
Epoch 64/100
15/15 [==============================] - 0s 926us/step - loss: 24.2419 - accuracy: 0.7197
Epoch 65/100
15/15 [==============================] - 0s 926us/step - loss: 68.4500 - accuracy: 0.6736
Epoch 66/100
15/15 [==============================] - 0s 926us/step - loss: 58.0571 - accuracy: 0.6192
Epoch 67/100
15/15 [==============================] - 0s 997us/step - loss: 100.7102 - accuracy: 0.5941
Epoch 68/100
15/15 [==============================] - 0s 997us/step - loss: 40.0662 - accuracy: 0.6695
Epoch 69/100
15/15 [==============================] - 0s 999us/step - loss: 22.4799 - accuracy: 0.7029
Epoch 70/100
15/15 [==============================] - 0s 997us/step - loss: 29.5682 - accuracy: 0.7280
Epoch 71/100
15/15 [==============================] - 0s 926us/step - loss: 53.9438 - accuracy: 0.6151
Epoch 72/100
15/15 [==============================] - 0s 926us/step - loss: 124.6079 - accuracy: 0.6611
Epoch 73/100
15/15 [==============================] - 0s 997us/step - loss: 132.4377 - accuracy: 0.5774
Epoch 74/100
15/15 [==============================] - 0s 997us/step - loss: 17.5721 - accuracy: 0.7113
Epoch 75/100
15/15 [==============================] - 0s 1ms/step - loss: 57.5096 - accuracy: 0.6736
Epoch 76/100
15/15 [==============================] - 0s 1ms/step - loss: 51.1296 - accuracy: 0.6444
Epoch 77/100
15/15 [==============================] - 0s 997us/step - loss: 20.6772 - accuracy: 0.7113
Epoch 78/100
15/15 [==============================] - 0s 997us/step - loss: 39.5669 - accuracy: 0.6527
Epoch 79/100

15/15 [==============================] - 0s 997us/step - loss: 22.3820 - accuracy: 0.7406
Epoch 80/100
15/15 [==============================] - 0s 1ms/step - loss: 51.4523 - accuracy: 0.5900
Epoch 81/100
15/15 [==============================] - 0s 997us/step - loss: 76.3819 - accuracy: 0.6151
Epoch 82/100
15/15 [==============================] - 0s 997us/step - loss: 101.3136 - accuracy: 0.6611
Epoch 83/100
15/15 [==============================] - 0s 1ms/step - loss: 39.0517 - accuracy: 0.6485
Epoch 84/100
15/15 [==============================] - 0s 1ms/step - loss: 41.6707 - accuracy: 0.6444
Epoch 85/100
15/15 [==============================] - 0s 1ms/step - loss: 56.8074 - accuracy: 0.6151
Epoch 86/100
15/15 [==============================] - 0s 1ms/step - loss: 43.7955 - accuracy: 0.6904
Epoch 87/100
15/15 [==============================] - 0s 1000us/step - loss: 45.8242 - accuracy: 0.6234
Epoch 88/100
15/15 [==============================] - 0s 1ms/step - loss: 48.4136 - accuracy: 0.6611
Epoch 89/100
15/15 [==============================] - 0s 1ms/step - loss: 20.0540 - accuracy: 0.7113
Epoch 90/100
15/15 [==============================] - 0s 1ms/step - loss: 38.9219 - accuracy: 0.6778
Epoch 91/100
15/15 [==============================] - ETA: 0s - loss: 40.3373 - accuracy: 0.750 - 0s 997us/step - loss: 42.9676 - accuracy: 0.6987
Epoch 92/100
15/15 [==============================] - 0s 1ms/step - loss: 76.5409 - accuracy: 0.5941
Epoch 93/100
15/15 [==============================] - 0s 1ms/step - loss: 34.5263 - accuracy: 0.6569
Epoch 94/100
15/15 [==============================] - 0s 1ms/step - loss: 29.6935 - accuracy: 0.6904
Epoch 95/100
15/15 [==============================] - 0s 1ms/step - loss: 34.7005 - accuracy: 0.7071
Epoch 96/100
15/15 [==============================] - 0s 997us/step - loss: 12.6411 - accuracy: 0.7992
Epoch 97/100
15/15 [==============================] - ETA: 0s - loss: 20.2566 - accuracy: 0.500 - 0s 995us/step - loss: 30.6941 - accuracy: 0.6736
Epoch 98/100
15/15 [==============================] - 0s 997us/step - loss: 13.5652 - accuracy: 0.7615
Epoch 99/100
15/15 [==============================] - 0s 997us/step - loss: 41.4889 - accuracy: 0.6653
Epoch 100/100
15/15 [==============================] - 0s 997us/step - loss: 68.9762 - accuracy: 0.7029

In [20]:
loss,acc= model.evaluate(X_test,Y_test)

2/2 [==============================] - 0s 0s/step - loss: 15.7698 - accuracy: 0.7000

In [21]:
loss

15.769759178161621

In [22]:
acc

0.699999988079071

## Generating a classification report

In [31]:
y_estimate=model.predict(X_test,verbose=0)
y_estimate= np.argmax(y_estimate,axis=1)

In [32]:
y_true = np.argmax(Y_test,axis=1)
y_true

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [35]:
print(classification_report(y_true,y_estimate))

              precision    recall  f1-score   support

           0       0.81      0.63      0.71        35
           1       0.61      0.80      0.69        25

    accuracy                           0.70        60
   macro avg       0.71      0.71      0.70        60
weighted avg       0.73      0.70      0.70        60